.album-list {
  color: #ffffff;
  font-family: sans-serif;
  a:link, a:visited {
    color: #ffffff;
  }
  .preview-image {
    background-position: center;
    padding: 0;
    margin: 0;
    .footer {
      background-color: #000000;
      opacity: 0.5;
      width: 100%;
      position: relative;
      bottom: -310px;
      margin: 0;
      padding: 0;
      span {
        margin-left: 2em;
        margin-right: 2em;
        line-height: 2;
      }
    }
  }
}

header.gallery {
  margin-bottom: 0;
}

.gallery-pagination {
  margin-top: 1ex;
  .pagination {
    justify-content: center;
  }
}